/* @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
  font-family: 'Tajawal', sans-serif;
}

:root {
  /* Palettes Color */
  --primary1: #02457a;
  --primary2: #001b4a;
  --sec: #028abe;
  --sectrp: #0289beb4;
  --color3: #97cadd;
  --color4: #d6e7ee;

  /* Social Media Color */
  --facebookColor: #0f8ff2;
  --twitterColor: #0f8ff2;
  --linkedinColor: #0073b1;
  --youtubeColor: #ff0000;
  --instaColor: #ff0095;
}


/*----------------------------------------------------------
  Global Styles
-----------------------------------------------------------*/
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  /* font-family: 'Nunito', sans-serif !important; */
  font-family: 'Acme', sans-serif;
}

p {
  font-size: 20px;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

.btn-outline-info {
    color: #3a4d8f;
    border-color: #3a4d8f;
}

.btn-outline-info:hover {
    background-color: #3a4d8f;
    border-color: #3a4d8f;
}

.btn-outline-info:focus {
    box-shadow:  0 6px 0.2rem rgb(58 77 143 / 72%) ;
}

.btn-outline-info:not(:disabled):not(.disabled):active {
    background-color: #3a4d8f;
    border-color: #3a4d8f;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus {
    box-shadow:  0 6px 0.3rem rgb(58 77 143 / 72%) ;
}

section {
    background-repeat: no-repeat;
    background-size: cover;
}

/* start of navBar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(0deg);
  z-index: 99;
}



@media (max-width:990px){
  .navbar {
    background-color: rgb(58, 77, 143);
  }
}

.navbar-brand {
  font-weight: 700;
}

a.nav-link {
  font-size: 18px;
  font-weight: 500;
  /* color: white !important; */
}

.nav-link.active {
  color:#e3dce8 !important;
}

/* End of navBar */

/* Start of Header */

header {
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: top;
  min-height: 100vh;
}

header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #00000094 42%, #ffffff00);
  /* background-image: radial-gradient(
    circle,
    rgba(0, 212, 255, 0.3085609243697479) 0%,
    rgba(9, 9, 121, 0.47102591036414565) 61%,
    rgb(2 0 36 / 72%) 100%
  ); */
}

header .pixels-logo {
  width: 10em;
  opacity: 0.8;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center p {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.social {
  position: absolute;
  top: 50%;
  right: 65px;
  transform: translate(0, -50%);
  z-index: 10;
}

.social ul {
  list-style: none;
}

.social li {
    border: solid 1px white ;
    border-radius: 45%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 5px;
}

.social a {
    position: relative;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    transition: all 0.4s;
}

.social li:nth-child(1) a:hover {
  color: var(--facebookColor);
  font-size: 20px;
}

.social li:nth-child(2) a:hover {
  color: var(--twitterColor);
  font-size: 20px;
}

.social li:nth-child(3) a:hover {
  color: var(--instaColor);
  font-size: 20px;
}

.social li:nth-child(4) a:hover {
  color: var(--youtubeColor);
  font-size: 20px;
}

.social li:nth-child(5) a:hover {
  color: var(--linkedinColor);
  font-size: 20px;
}

.social a:hover::after {
  background-color: white;
}

.shout {
  position: absolute;
  width: 100vw !important;
  bottom: 0;
  left: 50%;
  padding: 20px 0;
  margin: 0 !important;
  border-radius: 25px 25px 0px 0px;
  background-color: var(--sectrp);
  transform: translate(-50%, 0);
}

.shout .col-4 {
  text-align: center;
}

.shout .col-4 div {
  background-color:var(--sec);
  color: var(--primary2);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.shout .col-4 div:hover {
  background-color: var(--primary1);
  color: var(--color3);
  box-shadow: 0 0 4px 0 white;
}

.shout .col-4 div i {
  transition: all 0.5s ease;
}

.shout .col-4 div:hover i {
  transform: rotate(360deg);
}

.shout .col-4 div p {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase
}

@media (max-width: 990px) {
  header {
    height: 70vh;
  }

  h1 {
    font-size: 40px;
  }

  .social {
    position: absolute;
    right: 15px;
    top: 50%;
  }

  .center p {
    width: 250px;
  }
}

/* End of Header */


/*****************************************************/
/*Start Slogan section*/
.slogan-container {
  background-color: #010910;
  color: white;
  left: 50%;
  bottom: 0;
}
#slogan .container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.slogan-text {
  font-size: calc(8px + 2.2vw);
}
/*End Slogan section*/


/* Start About section */

/*****************************************************/
/*About section*/
.about-desc {
  color: #706f6f;
  font-size: calc(8px + 0.6vw);
}
.about-feature {
  color: #5c8196;
  font-size: calc(7px + 0.6vw);
}
.about-img1 {
  top: 20px;
  right: 43%;
}
.about-img2 {
  top: -30px;
  right: 6%;
}
.about-img3 {
  top: 190px;
  right: 37%;
}
.about-img4 {
  top: 140px;
  right: 0;
}




.about {
  position: relative;
  margin-top: 70px ;
}

.about h2 {
  color:  rgb(58, 77, 143);
}

.about h3 {
  color: #132766;
}

.pixels-word {
  position: absolute;
  font-size: 75px;
  color: #f1f2f3;
  z-index: -1;
}

.about .pixels-word {
  top: -55px;
  left: 50%;
  transform: translate(-50%, 0);
}

.about .v-m-heading h2 {
  color: var(--sec);
  font-weight: 600;
}

.about .v-m-heading label  {
  background-color: var(--primary1);
  color: var(--color4);
  padding: 10px;
  margin: 0;
  padding: 3px 10px;
}

.about .v-m-heading p {
  color: var(--primary2);
}

.about .video-image {
  position: relative;
  height: 490px;
  background-size: cover;
  background-position-y: -5em;
  border-radius: 50px 0 50px 0;
}

@media (max-width:991px) {
    .about .video-image {
        background-position: center;
    }
}

.about .video-image:hover i{
  box-shadow: 0 0 60px 40px rgba(255, 255, 255, 0.671);
}

.about .video-image i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  background-color: white;
  padding: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.6s ease-in-out ;
}

.about .video-tab {
  display: none !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.7);
  overflow: hidden;
  z-index: 10000;
}



/* end About section */

/* Start Articles Section */
.articles .pixels-word {
  top: -39px;
  left: 9px;
}

/* End Articles Section */

/* start Timeline */

.border-main-color {
  border-color: var(--primary1) !important;
}

.timeline {
  position: relative;
  padding: 60px 0;
  background-color: #ecf0f1;
}
@media (min-width: 750px) {
  .timeline .bolet-left,
  .timeline .bolet-right {
    position: absolute;
    top: 50px;
    width: 20px;
    height: 20px;
    background-color: white;
    border: solid 3px var(--primary1);
    border-radius: 50%;
  }
  .timeline .bolet-left {
    right: -12px;
  }
  .timeline .bolet-right {
    left: -12px;
  }
  .timeline .box-right::before,
  .timeline .box-left::before {
    content: "";
    position: absolute;
    top: 53px;
    border-style: solid;
    border-width: 7px;
    height: 0;
    width: 0;
  }
  .timeline .box-left::before {
    border-color: transparent var(--primary1) transparent transparent;

    right: 5px;
  }
  .timeline .box-right::before {
    border-color: transparent transparent transparent var(--primary1);

    left: 5px;
  }
}

.timeline .year-left,
.timeline .year-right {
  position: absolute;
  top: 0;
  padding: 3px 13px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  background-color: var(--primary1);
}
.timeline .year-left {
  right: -45px;
}
.timeline .year-right {
  left: -45px;
}

@media (max-width: 750px) {
  .timeline .year-left {
    right: 0;
    top: 5px;
    z-index: 2;
  }
  .timeline .year-right {
    left: 0px;
    top: 5px;
    z-index: 2;
  }
}
/* end timeline */

/* Start of Footer */
footer {
  position: relative;
  background-color: #333334;
  color: white;
  padding-top: 60px;
}

footer h5 {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

footer h5::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 70%;
  height: 1px;
  background-color: white;
}

footer h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 20%;
  height: 2px;
  background-color: #3e60c7;
}

footer ul {
  position: absolute;
  left: 10px;
  list-style: none;
}

footer .quick-link i {
  color: #3e60c7;
}

footer .quick-link li {
  margin-bottom: 5px;
}

footer .get-app li {
  font-size: 16px;
  padding: 13px 27px;
  margin-bottom: 10px;
  border: solid 1px var(--primary1);
  transition: all 0.2s;
}

footer .get-app li a {
  text-decoration: none;
  color: white;
}

footer .get-app li:hover {
  background-color: var(--primary1);
}

footer .go-top {
  border: solid 1px var(--primary1);
}

footer .go-top a {
  text-decoration: none;
  color: white;
}

.copy-rights {
  background-color: #0f0f0f;
}

footer .form-custome {
  background-color: rgb(58, 77, 143);
}

footer .form-custome label {
  float: left;
}

@media (max-width: 990px) {
  footer ul {
    position: relative;
    left: -20px;
  }
}

/* End of Footer */


/*---------------------------------------------------
  Adninstration Components
----------------------------------------------------*/


/*---------------------------------------------------
  Events Components
----------------------------------------------------*/

.events-header{
  height: 90vh;
}
