/**********************************************************************************************************************/
/*Common Styles*/
.text-color {
    color: #5299E1;
}
.text-color2 {
    color: #d3daeb;
}
.section-title1 {
    font-size: calc(8px + 2.2vw);
}
.line {
    border: 3px solid #4e93fa;
    width: 20%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.overlayer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.274);
}
.py-120 {
    padding:  120px 0;
}
.wave {
    bottom: calc(-10px - 5vw);
}
.page-header {
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.page-header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
}
.header-container {
    transform: translateY(18%);
    -webkit-transform: translateY(18%);
    -moz-transform: translateY(18%);
    -ms-transform: translateY(18%);
    -o-transform: translateY(18%);
}
.list li a {
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 50%;
    padding: 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.list li:nth-child(1) a:hover {
    color: var(--facebookColor);
}
.list li:nth-child(2) a:hover {
    color: var(--twitterColor);
}
.list li:nth-child(3) a:hover {
    color: var(--instaColor);
}
.list li:nth-child(4) a:hover {
    color: var(--youtubeColor);
}
.list li:nth-child(5) a:hover {
    color: var(--linkedinColor);
}
.other-courses .card-body, .courses .card-body, .instructors .card-body {
    border: solid 5px #1E1A33;
    border-top: none;
}
.other-courses .card-img, .courses .card-img {
    overflow: hidden;
}
.other-courses .card-img img , .courses .card-img img {
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}
.other-courses .card-img:hover img , .courses .card-img:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.rate-icon {
    color: #5299E1;
}
/**********************************************************************************************************************/
/*Media Queries*/


/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
    .section-title1 {
        text-align: center;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
    .social-media .list li {
        margin: 10px 0 !important;
    }
    .social-media img {
        width: 20px;
        height: 20px;
    }
    .uniqe-image {
        top: 450px;

    }
    .wave {
        bottom: -25px;
    }

}
